
.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f4f8;
  }
  
  .sign-in-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  